@font-face {
    font-family: "ProximaNova";
    src: url(./fonts/Proxima_Nova.ttf) format("truetype");
}

@font-face {
    font-family: "ProximaNovaBold";
    src: url(./fonts/ProximaNova-Bold.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
}

a {
    color: #000;
}

.section-inner {
    width: 1336px;
    margin: 0 auto;

}

@media (min-width: 481px) and (max-width: 1024px) {
    .section-inner {
        width: 95%;
    }
}

.link {
    transition: all 0.1s ease-out;
    background-color: #5c9800;
    position: relative;
    border-radius: 30px;
    padding: 15px 20px;
    padding-right: 60px;
    display: inline-block;

    a {
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
        height: 50px;
        text-transform: uppercase;
    }

    a:after {
        content: "";
        display: block;
        background: url(./img/right-arrow.png) center center no-repeat;
        position: absolute;
        width: 30px;
        height: 30px;
        right: 15px;
        top: 10px;
    }
}

.link:hover {
    background-color: #6eb500;
}

.suptitle {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 4px solid #5c9800;
    display: inline-block;
    font-family: "ProximaNovaBold", sans-serif;
}

.main {
    width: 100vw;
    font-family: "ProximaNova", sans-serif;
}

.info {
    background-color: #f3f1f1;

    .info-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            display: flex;
            align-items: center;
            width: 35%;

            a {
                width: 65%;

                img {
                    width: 90%;
                }
            }

            div {
                margin-top: 5px;
            }
        }
    }

    .contacts {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        width: 40%;
        margin-top: 30px;

        &_item {
            width: 50%;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: right;
            margin-right: 50px;

            span {
                font-size: 24px;
                font-weight: 700;
                font-family: "ProximaNovaBold", sans-serif;
            }
        }

    }

    @media (min-width: 481px) and (max-width: 1024px) {

        .contacts {
            width: 35%;

            &_item {
                margin-right: 0;
                width: 45%;

                span {
                    font-size: 18px;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }

}


//===Content===///
.content {
    height: 600px;
    background: url(./img/bg__content.png) center center no-repeat;
    margin-bottom: 40px;
}

.content_wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .nav {
        display: flex;
        justify-content: space-between;
        background-color: #5c9800;

        a {
            padding: 15px 22px;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;

        }


        a:hover {
            color: #000;
            background-color: #f3f1f1;
        }

        @media (min-width: 481px) and (max-width: 1024px) {
            a {
                padding: 10px 10px;
                font-size: 16px;
            }
        }

    }

    .item {
        display: flex;
        justify-content: space-between;

        .item_wrap {
            background: #5c9800;
            height: 130px;
            width: 425px;
            padding-left: 120px;
            padding-top: 30px;
            position: relative;
            font-size: 28px;
            font-weight: 700;
            color: #fff;

            img {
                position: absolute;
                left: 20px;
                top: 30px;
            }
        }

        .item_wrap+.item_wrap {
            margin-left: 30px;
        }

        @media (min-width: 481px) and (max-width: 1024px) {
            .item_wrap {
                font-size: 20px;
                padding-right: 20px;
            }
        }
    }

}

//===Content===///
//===News===///
.news {
    text-align: center;
    margin-bottom: 40px;

    .news_item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        margin-top: 40px;

        .item {
            position: relative;
            text-align: left;
            text-transform: none;
            width: 33%;

            img {
                position: absolute;
            }

            span {
                background-color: #b9b2b2;
                font-size: 14px;
                text-transform: uppercase;
                display: inline-block;
                padding: 7px 9px;
                color: #fff;
                margin-left: 40px;
                font-family: "ProximaNovaBold", sans-serif;
            }

            h4 {
                font-size: 20px;
                font-weight: 400;
                margin: 15px 0;
                margin-left: 40px;
            }

            h4:hover {
                text-decoration: underline;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                margin-left: 40px;

                a {
                    color: #5f9a04;
                    text-decoration: underline;

                }

                a:hover {
                    text-decoration: none;

                }
            }
        }

    }
}

//===News===///
//===About===///
.about {
    background-color: #f3f1f1;
    margin-bottom: 40px;

    .about-content {
        padding-top: 50px;
        padding-bottom: 25px;
        display: flex;
        justify-content: space-between;


        .item {
            width: 660px;
            margin-right: 80px;

            h2 {
                font-size: 30px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                margin-top: 25px;
                margin-bottom: 45px;
                line-height: 26px;
            }
        }

        .item-img {
            background: url(./img/bg_about.png) top center no-repeat;
            background-size: cover;
            height: 350px;
            width: 570px;
        }
    }

}

//===About===///
//===Service===///
.service {
    text-align: center;

    &_content {
        display: flex;
        justify-content: space-between;
        text-align: left;

        margin-top: 40px;
        margin-bottom: 40px;


        .item {
            transition: all 0.1s ease-out;

            padding: 40px;
            height: 370px;
            width: 400px;
            background-color: #f3f1f1;
            position: relative;

            .img {
                width: 84px;
                height: 84px;
            }

            .img1 {
                background: url(./img/service1.png) center left no-repeat;

            }

            .img2 {
                background: url(./img/service2.png) center left no-repeat;

            }

            .img3 {
                background: url(./img/service3.png) center left no-repeat;

            }



            h3 {
                font-size: 26px;
                font-weight: 700;
                margin-top: 25px;
                margin-bottom: 15px;
            }

            p {
                font-size: 16px;
                font-weight: 400;

            }

            .link {
                position: absolute;
                bottom: 25px;
            }

            &:hover {
                background-color: #5c9800;
                color: #fff;

                .img1,
                .img2,
                .img3 {
                    background-position: right center;
                }

                .link {
                    background-color: #fff;

                    a {
                        color: #000;

                        &:after {
                            background: url(./img/link2.png) center right no-repeat;
                        }
                    }
                }

            }

        }

    }
}

//===Service===///
//===Footer===///
.footer {
    background-color: #b9b2b2;
    height: 150px;
    display: flex;
    align-items: center;

    .logo {
        color: #fff;
    }

}

//===Footer===///
//===Open-Info===///
.open-info {
    // width: 100vw;
    transition: all 10s ease-out;

    &_content {
        transition: all 7s ease-out;

        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        cursor: default;

        .img-wrap {
            width: 83px;
            height: 90px;
            background-color: #e9e6e6;

            .img {
                width: 32px;
                height: 90px;
                margin: 0 auto;
                background: url(./img/info.png) center left no-repeat;
            }
        }

        .item {
            width: calc(100% - 83px);
            height: 90px;
            background: #f3f1f1;
            padding-left: 27px;
            font-weight: 700;
            font-size: 20px;
            line-height: 90px;
        }

        .item-hidden {
            padding-left: 110px;
            margin-top: 15px;
            display: none;

            p {
                padding-bottom: 10px;
                color: #5c9800;
                text-decoration: underline;
                font-weight: 700;
            }

        }

        &:hover {

            .img-wrap {
                transition: all 0.1s ease-out;

                background-color: #4a7b00;

                .img {
                    background-position: right center;
                }
            }

            .item {
                transition: all 0.1s ease-out;

                background-color: #5c9800;
                color: #fff;
            }

        }
    }

    .suptitle {
        margin: 25px 0;
    }
}

.open-info_content-active {

    .img-wrap {
        background-color: #4a7b00;

        .img {
            background-position: right center;
        }
    }

    .item {
        background-color: #5c9800;
        color: #fff;
    }

    .item-hidden {
        display: block;
    }
}

//===Open-Info===///



// @media (max-width: 480px){
//     body{
//         color:blue;
//     }
// }