@font-face{
    font-family: "ProximaNova";
    src: url(./fonts/Proxima_Nova.ttf) format("truetype");
}
@font-face{
    font-family: "ProximaNovaBold";
    src: url(./fonts/ProximaNova-Bold.ttf) format("truetype");;
}

*{
    margin: 0;
    padding: 0;
    transition: all 0.2s;
    box-sizing: border-box;
    text-decoration: none;
}

.section-inner{
    width: 1336px;
    margin: 0 auto;
}

.link{
    background-color: #5c9800;
    position: relative;
    border-radius: 30px;
    padding: 15px 20px;
    padding-right: 60px;
    display: inline-block;
    // cursor: pointer;
    
    a{
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
        height: 50px;
        text-transform: uppercase;
        
    }
    a:after{
        content: "";
        display: block;
        background: url(./img/right-arrow.png) center center no-repeat;
        position: absolute;
        width: 30px;
        height: 30px;
        right: 15px;
        top: 10px;
    }
}
.link:hover{
    background-color: #6eb500;
}

.suptitle{
    font-size: 36px;
    font-weight: 800; 
    text-transform: uppercase;
    border-bottom: 4px solid #5c9800;
    display: inline-block;
    font-family: "ProximaNovaBold", sans-serif;
}

.main{
    width: 100vw;
    font-family: "ProximaNova", sans-serif;
}

.info{
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
        width: 390px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        // display: inline-block;
        div{
            display: inline-block;
            // vertical-align: middle;
        }
        
    }

    .contacts{
        width: 450px;
        display: flex;
        // align-items: center;
        justify-content: space-between;

        &_item{
            width: 191px;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: right;

            span{
                font-size: 20px;
                font-weight: 700;  
                font-family: "ProximaNovaBold", sans-serif;    
            }
        }
    }
}
//===Content===///
.content{
    height: 600px;
    background: url(./img/bg__content.png) center center no-repeat;
    margin-bottom: 40px;
    

    .content_item{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .nav{
            // background-color: #5c9800;
            display: flex;
            // align-items: center;
            justify-content: space-between;
            width: 100%;
            background-color: #5c9800;

            a{
                display: inline-block;
                background-color: #5c9800;

                padding: 20px 30px;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                color: #fff;
            }

            a:hover{
                color: #000;
                background: #fff;
            }
        }

        .item{
            display: flex;
            justify-content: space-between;

                div{
                    background: #5c9800;
                    padding-left: 140px;
                    padding-top: 30px;;
                    padding-bottom: 30px;
                    padding-right: 50px;
                    flex: 1 1;
                    position: relative;
                    font-size: 26px;
                    font-weight: 700;
                    color: #fff;

                    img{
                        position: absolute;
                        left: 40px;
                        top: 30px;
                    }
                }
                div + div{
                    margin-left: 30px;
                }
        }
    }
}
//===Content===///
//===News===///
.news{
    text-align: center;
    margin-bottom: 40px;

    .news_item{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        margin-top: 40px;

        .item{
            position: relative;
            text-align: left;
            text-transform: none;
            width: 400px;
            
            img{
                position: absolute;
            }

            span{
                background-color: #b9b2b2;
                font-size: 14px;
                text-transform: uppercase;
                padding: 7px 9px;
                color: #fff;
                margin-left: 40px;
                font-family: "ProximaNovaBold", sans-serif;
            }

            h4{
                font-size: 20px;
                font-weight: 400;
                margin: 15px 0;
                margin-left: 40px;
            }

            p{
                font-size: 16px;
                font-weight: 400;
                margin-left: 40px;

                a{
                    color: #5f9a04;
                }
            }
        }
        
    }
}
//===News===///
//===About===///
.about{
    display: flex;
    margin: 80px 0;

    .item{
        width: 665px;
        margin-right: 100px;
        h2{
            font-size: 34px;
        }
        p{
            font-size: 16px;
            font-weight: 400;
            margin-top: 25px;
            margin-bottom: 45px;
        }
    }
    
    .item-img{
        background: url(./img/bg_about.png) center center no-repeat;
        background-size: cover;
        height: 350px;
        width: 600px;
    }

}
//===About===///
//===Service===///
.service{
    text-align: center;

    &_content{
        display: flex;
        justify-content: space-between;
        text-align: left;
        color: #fff;
        margin-top: 40px;
        margin-bottom: 40px;


        &-item{
            padding:  40px;

            width: 400px;
            background: green;
            h3{
                font-size: 26px;
             font-weight: 700;
             margin-top: 25px;
             margin-bottom: 15px;
            }
             
            p{
                font-size: 16px;
                font-weight: 400;

            }
        }

    }
}

//===Service===///
//===Footer===///
footer{ 
    background-color: #b9b2b2;
    height: 150px;
    display: flex;
    align-items: center;
}
//===Footer===///